/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-block-namespace-block-second {
	background-color: #f0c6e3;
	color: #141414;
	padding: 2px;
}